//CYBOT COOKIE//

#CybotCookiebotDialog {
    background: rgb(227, 243, 255) !important;
    box-shadow: #12121200 0px 0px 0px 0px !important;
}

#CybotCookiebotDialogBodyButtonAccept {
    background-color: #229bda !important;
    padding: 7px !important;
    border-radius: 23px !important;
    border: none !important;
}
#CybotCookiebotDialogBodyButtonDecline {
    background-color: #969696 !important;
   border: none !important;
    padding: 7px !important;
    border-radius: 23px !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
    background-color: #229bda !important;
    padding: 7px !important;
    border-radius: 23px !important;
    border: none !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll {
    background-color: #969696 !important;
    border: none !important;
     padding: 7px !important;
     border-radius: 23px !important;
 }

 #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    background-color: #229bda !important;
    padding: 7px !important;
    border-radius: 23px !important;
    border: none !important;
}