.vertical-centered-box {
  position: absolute;
}

#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
   -webkit-transform: scale3d(0.5, 0.5, 1);
 -moz-transform: scale3d(0.5, 0.5, 1);
 -ms-transform: scale3d(0.5, 0.5, 1);
 -o-transform: scale3d(0.5, 0.5, 1);
 transform: scale3d(0.5, 0.5, 1); 
}



